

.footer{
    //background-color: teal;
    background-color: #333333;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.footercaja{
    color: blanchedalmond;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}
