.imagen{
    width: 200px;
    height: 200px;
}
ul{
    width:auto;
    list-style-type: none;
}
ul li{
    display:inline-flex;
    flex-direction:row;
}


.btnGigante{
    margin: 1em;
    width: 300px;
    position: relative;
    display:inline-flex;
    background-color: #f01a52;
    text-decoration: none;
}
div#contenedorProducto{
    width: 84%;
    background-color: green;
    display:inline-flex;
    flex-direction: row;

}
div#contenedorFiltros{
    width: 15%;
    display:inline-flex;
    flex-direction: row;
    background-color: hotpink;
}
.card{
    background-color: #c72852b7;
    height: fit-content;
    width: 100%;
    float: none;
    text-align: left;
}

a{
    text-decoration: none;
}

.star{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
    margin: 1px;
}
.full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }