<div id="contenedorFiltros">
    <form [formGroup]="formFiltro" (ngSubmit)="Filtrar()"  class="clase-form">
    <ul class="ulfiltro">
        aqui para filtrar wey<br><br>      
        <li>
            Rango de Precios<br>
            <input type="number" placeholder="min" class="inputN" formControlName="min"> - <input type="number" placeholder="max" class="inputN" formControlName="max"> 
        </li>  

        <li>
            Disponibilidad<br>
            <mat-checkbox class="disponibilidad" [color]=task formControlName="Disponible">Disponible</mat-checkbox> <br>
            <mat-checkbox class="disponibilidad" [color]=task formControlName="NoDisponible">No Disponible</mat-checkbox>
        </li>

        <li>
            Rango de Valoración<br>
            <span class="clasificacion">
                <input id="radio1" type="radio" formControlName="Rating1" value=5><!--
                --><label for="radio1">♥</label><!--
                --><input id="radio2" type="radio" formControlName="Rating1" value=4><!--
                --><label for="radio2">♥</label><!--
                --><input id="radio3" type="radio" formControlName="Rating1" value=3><!--
                --><label for="radio3">♥</label><!--
                --><input id="radio4" type="radio" formControlName="Rating1" value=2><!--
                --><label for="radio4">♥</label><!--
                --><input id="radio5" type="radio" formControlName="Rating1" value=1><!--
                --><label for="radio5">♥</label>
              </span>
              <br> - 
              <span class="clasificacion">
                <input id="r1" type="radio" formControlName="Rating2" value=5><!--
                --><label for="r1">♥</label><!--
                --><input id="r2" type="radio" formControlName="Rating2" value=4><!--
                --><label for="r2">♥</label><!--
                --><input id="r3" type="radio" formControlName="Rating2" value=3><!--
                --><label for="r3">♥</label><!--
                --><input id="r4" type="radio" formControlName="Rating2" value=2><!--
                --><label for="r4">♥</label><!--
                --><input id="r5" type="radio" formControlName="Rating2" value=1><!--
                --><label for="r5">♥</label>
              </span>
        </li>  

        <li><button type="submit" >Filtrar</button></li>
    </ul>
    </form>   
</div>

<div id="contenedorProducto">
    <ul>
        <li *ngFor = "let producto of productos">
            <a [routerLink]="['/producto',producto.id]" routerLinkActive="router-link-active" >
            <button class="btnGigante">
                <mat-card class="card">
                    <img mat-card-image src="{{producto.src_imagen}}" class="imagen">
                    <mat-card-header>
                        <mat-card-title class="card-titulo">{{producto.nombre}}</mat-card-title>
                        <mat-card-subtitle>Por PetShop</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h3>${{producto.precio}} CLP</h3>
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill==100">
                                <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                            </span>
                        </ng-template>
                        <p><ngb-rating [(rate)]=producto.calificacion [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating></p>
                        <!--<pre>Rate: <b>{{producto.calificacion}}</b></pre>-->
                    </mat-card-content>
                  </mat-card>
            </button>
            </a>
        </li>
    </ul>
</div>


