
<ng-container *ngIf="show1">
<form [formGroup]="formularioI" (ngSubmit)="EnviarDatos()" novalidate class="clase-form">
    <ul>
        <li>
            <mat-form-field class="caja-input">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput  type="email" placeholder="example@correo.com" formControlName="Correo" >
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="caja-input">
                <mat-label>Contraseña</mat-label>
                <input matInput  type="password"  formControlName="Contrasenia" >
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
        </li>
        <li>
           <h3> Aqui debe ir un captcha :D</h3>
     
           
        </li>

        <li>
            <a [routerLink]="['/recuperar-clave']" routerLinkActive="router-link-active" >
                ¿olvidaste tu contraseña?
            </a>
        </li>
        <li>
            <button class="button" type="submit" [disabled]="formularioI.invalid">Ingresar</button>
        </li>
        
    </ul>   
</form>
</ng-container>
<ng-container *ngIf="show2">
    <div id="sesion-i">
        <ul class="si">
            <mat-icon>pets</mat-icon>
            <li><h2> Sesión Iniciada</h2></li>
        </ul>
    </div>
</ng-container>
