li{
  list-style: none;
}

.clase-form{
  margin-left: 40%;

}

.si{
  text-align: center;
  margin-left:15px;
}

div#sesion-i{
    width: 250px;
    height: 250px;
    display:inline-flex;
    flex-direction:row;
    border:2px outset #f01a52;
    border-radius: 50px;
    margin-bottom: 2em;
    margin-left: 40%;
    padding-top:3%;
}

.button{
  text-align: center;
  border-radius: 10px;
  font: oblique 17px serif;
}