.imagen{
    width: 200px;

}
ul{
    list-style-type: none;
    display:inline-flex;
    flex-direction: row;
}
.btnGigante{
    margin:15px;
    width: 300px;
   
}
div#contenedorProducto{
    width: 84%;
    background-color: green;
    display:inline-flex;
    flex-direction: row;

}
div#contenedorFiltros{
    width: 15%;
    display:inline-flex;
    flex-direction: row;
    background-color: hotpink;
}