<p>subcategoria works!</p>
<h2>{{categoria}} --> {{subcategoria}} </h2>
<div id="contenedorFiltros">
    aqui para filtrar sin las cat<br><br>
    filtro precio  <br>
    filtro disponibilidad <br>
    bla <br>
</div>
<div id="contenedorProducto">
    <ul>
        <li *ngFor = "let producto of productos">
            <a [routerLink]="['/producto',producto.id]" routerLinkActive="router-link-active" >
            <button class="btnGigante">
            {{producto.nombre}}
            <p><img src="{{producto.src_imagen}}" class="imagen"></p>
            
            ${{producto.precio}}
            
            </button>
            </a>
        </li>
        </ul>
</div>