div{  
    display: inline-block;   
    flex-direction:row;  
}

.imagen{
    width: 300px;
    height: 300px;
}

div#claseSuperior{
    width: 100%;
}

div#imagen{
    vertical-align: top;
    width: 40%;
    top: 20px;
    left: 20px;
    //background-color: rgba(255, 0, 0, 0.185);
    text-align: center;
}

div#info{
    padding-left: 2em;
    width: 40%;
    top: 20px;
    left: 20px;
    font-style: oblique;
    font-family:cursive;
    //background-color: rgba(0, 0, 255, 0.137);
}

h2{
    font: oblique 30px serif;
}
h4{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bolder
}
.precio{
    color: #911b3a;
    font-size: 20px;
    margin-top:10px;
    padding-bottom:10px;
}
span{
    margin-top:10px;
}


.star{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
    
}
.full {
    color: #f01a52;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgba(104, 103, 101, 0);
}
.resta{
    margin-left: 3em;
    margin-right:5px;
}
.suma{
    margin-left:5px;
}