div{  
    display: inline-block;   
    flex-direction:row;  
}
ul{
    list-style-type: none;
}
textarea{
    width: 60%;
}

.imagen{
    //width: 300px;
    height: 300px;
}

div#claseSuperior{
    width: 100%;
}

div#imagen{
    vertical-align: top;
    width: 40%;
    top: 20px;
    left: 20px;
    //background-color: rgba(255, 0, 0, 0.185);
    text-align: center;
}

div#info{
    padding-left: 2em;
    width: 40%;
    top: 20px;
    left: 20px;
    font-style: oblique;
    font-family:cursive;
    //background-color: rgba(0, 0, 255, 0.137);
}

h2{
    font: oblique 30px serif;
}
h3{
    font: oblique 20px serif;
    padding-left:2em;
}
h4{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bolder
}

.precio{
    color: #911b3a;
    font-size: 20px;
    margin-top:10px;
    padding-bottom:10px;
}
span{
    margin-top:10px;
}


.star{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
    
}
.star2{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #d3d3d3;
    
}
.full {
    color: #f01a52;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgba(104, 103, 101, 0);
}
.resta{
    margin-left: 3em;
    margin-right:5px;
}
.suma{
    margin-left:5px;
}

.suma,.resta,.aniadir{
    font: oblique 15px cursive;
    border-radius:20px;
    background-color: #ee285d;
    color:white;
    box-shadow: 2px 2px 2px 1px rgb(2, 26, 29); 
}