<div id="contenedor">
    <div id="adminInfo">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar id="icono">
                    <mat-icon>badge</mat-icon>
                </div>
                <mat-card-title> {{admin[0].nombre_admin}} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3>Correo Electronico: {{admin[0].correo_electronico_admin}} </h3>
                <h3>Numero de Contacto: {{admin[0].contacto_admin}} </h3>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="cerrarSesion()" class="btnClose">Cerrar Sesion</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div id="reporte">
        <div class="report">
            <h1>Reporte Compras</h1>
            <table class="table table-striped">
                <thead>
                    <th scope="col">id_parcial</th>
                    <th scope="col">Comprador</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Total compra</th>
                    <th scope="col">Cantidad de Producto</th>
                </thead>
                <tbody>
                    <tr *ngFor="let compra of compras">
                        <th scope="row">{{compra.id_parcial}}</th>
                        <td>{{compra.comprador}}</td>
                        <td>{{compra.nombre}}</td>
                        <td>{{compra.total_compra}}</td>
                        <td>{{compra.cantidad_producto}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="report">
            <h1>Reporte Cuentas</h1>
            <table class="table table-striped">
                <thead>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <th scope="row">{{usuario.rut}}</th>
                        <td>{{usuario.nombres}}</td>
                        <td>{{usuario.apellidos}}</td>
                        <td>{{usuario.correo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>