<div id="contenedor">
    <h4> ¡Hola! Somos PetShop y nos complace informarles que somos una tienda que opera tanto física como on-line, por lo que si tiene consultas, pedidos o encargos personalizados puede contactarnos de la siguiente forma:</h4>
    <ul>
        <li>
            +56 2 51933 11366
        </li>
        <li id="rrss">
            <mat-icon>facebook</mat-icon> https://www.facebook.com/PetShop
        </li>
        <li #rrss>
            <mat-icon>photo_camera</mat-icon> https://instagram.com/PetShop
        </li>
    </ul>
    <h4>Para repartos nosotros trabajamos a traves de agencias de reparto y en su correspondiente tiempo les informamos sobre el número de pedido determinado y agencia de reparto.</h4> 
    <h4>Para mayor detalle, nosotros trabajamos con:</h4>
    <ul>
        <li>
            KenStar
        </li>
        <li>
            ExpressChile
        </li>
    </ul>
    <div id="logo">
        <img src="./../../../assets/icon_tienda/logo_nombre.png" alt="a">
    </div>
</div>