<div id="contenedor">
    <img src="./../../../assets/icon_tienda/nombre-logo.png" class="logo_tienda">

    <h3>Para contactarnos:</h3> 
    <h4> ¡Hola! Somos PetShop y nos complace informarles que somos una tienda que opera solo de manera on-line, por lo que si tiene consultas, pedidos o encargos personalizados puede contactarnos de la siguiente forma:</h4>
    <ul>
        <li>
            <img class="Icon" src="https://img.icons8.com/pastel-glyph/25/000000/whatsapp--v2.png"/> +56 9 XXXXXXXX
        </li>
        <li>
            <img src="https://img.icons8.com/ios-filled/25/000000/facebook-new.png"/> PetShop Chile
        </li>
        <li>
            <img src="https://img.icons8.com/glyph-neue/25/000000/instagram-new.png"/> @PetShop_Chile

        </li>
        <li><mat-icon>whatsapp</mat-icon>    </li>
        
    </ul>
    <h3>Sobre los repartos:</h3>
    <h4>Al momento de hacer tu compra, puedes escoger entre las siguientes empresas de reparto:</h4>
    
    <ul class="agencias">
        <li>Chilexpress</li>
        <li>Starken</li>
        <li>WSP</li>
    </ul>
    <h4>El precio asociado al envio depende exclusivamente de la empresa externa escogida.</h4>
    <h4>El número de orden para seguimiento del envío se enviará al comprador al momento de que este sea enviado.</h4>
    <h4>Envios a todo Chile. </h4>

    <h2>¡Gracias por preferirnos!</h2>
</div>