<nav>
    <div id="logo">
        <ul>
            <li><img src="./../../../assets/icon_tienda/logo_nombre.png" alt="a"></li>
            <li>
                <ul id="sesion">
                <mat-icon id="logo_cuenta">account_circle</mat-icon>
                <li>
                    <a [routerLink]="['/iniciar-sesion']" routerLinkActive="router-link-active" >Iniciar sesion</a>
                </li>
                <li class="sesion">
                    <a [routerLink]="['/formulario-registro']" routerLinkActive="router-link-active" >Crear Cuenta</a>
                </li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="menu">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >
            <button mat-button> 
                <mat-icon>home</mat-icon>
                <span class='inicio'>Inicio</span>
            </button>
        </a>
      
        <button mat-button [matMenuTriggerFor]="categorias">Categorías</button>
        <mat-menu #categorias="matMenu" yPosition="below">
            <button mat-menu-item [matMenuTriggerFor]="perros">Perros</button>
            <button mat-menu-item [matMenuTriggerFor]="gatos">Gatos</button>
        </mat-menu>

        <mat-menu #perros='matMenu'>
            <button mat-menu-item *ngFor="let categoria of subCategorias">{{categoria.name}}</button>
        </mat-menu>

        <mat-menu #gatos='matMenu'>
            <button mat-menu-item *ngFor="let categoria of subCategorias">{{categoria.name}}</button>
        </mat-menu>
        
    
        
        <button mat-button>Contacto</button>
        <div id="carrito">
        <button mat-button>
            <mat-icon> local_grocery_store</mat-icon>
            carrito</button>
        </div>
    </div>

</nav>
