<nav>
    <div id="logo">
        <ul>
            <a [routerLink]="['/']" routerLinkActive="router-link-active"><li><img src="./../../../assets/icon_tienda/logo_nombre.png" alt="a"></li></a>
            <li>          
                <ul id="sesion">
                    <ng-container *ngIf="show1" >      
                    <mat-icon id="logo_cuenta">account_circle</mat-icon>
                    <div id="iniciar">
                        <li>
                            <a [routerLink]="['/iniciar-sesion']" routerLinkActive="router-link-active" >Iniciar sesion</a>
                        </li>
                        <li class="sesion">
                            <a [routerLink]="['/formulario-registro']" routerLinkActive="router-link-active" >Crear Cuenta</a>
                        </li>
                    </div>
                    </ng-container>
                    <ng-container *ngIf="show2">
                        <mat-icon id="logo_cuenta">account_circle</mat-icon>
                        <li>
                            <h3 id="nombreUsuario">Hola! {{user[0].nombres}}</h3>
                        </li>
                        <li class="sesion">
                            <button (click)="cerrarSesion()" class="btnClose">Cerrar Sesión</button>
                        </li>
                        </ng-container>
                </ul>
                

            </li>
        </ul>
    </div>

    <div id="menu">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >
            <button mat-button > 
                <mat-icon>home</mat-icon>
                <span class='inicio'>Inicio</span>
            </button>
        </a>
      
        <button mat-button [matMenuTriggerFor]="categorias">Categorías</button>
        <mat-menu #categorias="matMenu" yPosition="below">
            <a [routerLink]="['/categorias/Perro']" routerLinkActive="router-link-active" >
                <button class='btncat' mat-menu-item [matMenuTriggerFor]="perros">Perro</button>
            </a>
            <a [routerLink]="['/categorias/Gato']" routerLinkActive="router-link-active" >
                <button class='btncat' mat-menu-item [matMenuTriggerFor]="gatos">Gato</button>
            </a>
        </mat-menu>

        <mat-menu #perros='matMenu'>
            <span *ngFor="let subcategoria of subCategoriasPerro">
                <a [routerLink]="['/categorias/','Perro',subcategoria.nombre_categoria]" routerLinkActive="router-link-active" >
                    <button class='btncat' mat-menu-item >{{subcategoria.nombre_categoria}}</button>
                </a>
            </span>    
        </mat-menu>

        <mat-menu #gatos='matMenu'>
            <span *ngFor="let subcategoria of subCategoriasGato">
                <a [routerLink]="['/categorias','Gato',subcategoria.nombre_categoria]" routerLinkActive="router-link-active" >
                    <button class='btncat' mat-menu-item >{{subcategoria.nombre_categoria}}</button>
                </a>
            </span>
        </mat-menu>
        
    
        
        <button mat-button>Contacto</button>
        <a [routerLink]="['/carrito']" routerLinkActive="router-link-active" >
            <div id="carrito">
                <button mat-button>
                    <mat-icon>local_grocery_store</mat-icon>
                    <span>Carro</span>
                </button>
            </div>
        </a>
    </div>

</nav>
