a{
    text-decoration: none;
    text-decoration-color: white;
}

nav{
    margin-bottom: 40px;
}
h3{
    color: white;
}
.sesion{
    padding-left:30px;
}
#menu{
    width: 100%;
    //background-color: darkcyan;
    background-color: #f01a52;
    height: 50px;
}

#logo{
    width: 100%;
    height: 50px;
    
}

#logo ul{
    width: 100%;
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #333333;
}

#logo img{
    padding-top: 5px;
    width: 100px;
    height: 40x;
    //position: absolute;
    float: left;
}

ul{
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#logo_cuenta{
    margin-top: 11px;
    margin-right: 5px;
    color:white;
}

#sesion li{
    margin-top: 1em;
}

#sesion a{
    text-decoration: none;
    color: aliceblue;
}

#carrito{
    float: right;
    padding-right:20%;
}

button{
    border:0px;
    //background-color:  darkcyan;
    background-color: #f01a52;
    padding: 10px;
    font-size:14px;
    color:rgba(245, 245, 245, 0.863);
    vertical-align: middle;

}

button:hover{
    background-color: rgba(255, 255, 255, 0.322);
}

.inicio{
    color: white;
}
.btncat{
    background-color: #f01a52;
}
.btncat:hover{
    background-color: #f01a53a1;
}

.btnClose{
    background-color: #33333300;
}