<form [formGroup]="formulario" (ngSubmit)="EnviarDatos()" novalidate class="clase-form">
    <ul>
        <li>
        <mat-form-field class="caja-input">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Juanito Alberto" formControlName="Nombres">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        </li>
        <li>
        <mat-form-field class="caja-input">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Alcachofa Pérez" formControlName="Apellidos">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        </li>
        <li>
        <mat-form-field class="caja-input">
            <mat-label>RUT   (sin puntos y con guión)</mat-label>
            <input matInput placeholder="11111111-5" formControlName="Rut" pattern="[1-9][0-9]{6,7}[-][0-9kK]">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        </li>
        <li>
        <mat-form-field appearance="fill" class="caja-select">
            <mat-label>Region</mat-label>
            <mat-select formControlName="Region">
              <mat-option *ngFor="let region of Regiones" [value]="region.value">
                {{region.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        </li>



   <!--Hay que cambiar a mat-form-->     
        <li>
            <label for="Comuna">Comuna<br></label>
            <select  formControlName="Comuna">
                <option selected>Pendientisimo</option>
            </select>
        </li>




        <li>
        <mat-form-field class="caja-input">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput  type="email" placeholder="example@correo.com" formControlName="Correo" >
            <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        </li>
        <li>
        <mat-form-field class="caja-input">
            <mat-label>Contraseña</mat-label>
            <input matInput  type="password"  formControlName="Contraseña" >
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        </li>
        <li>
        <mat-form-field class="caja-input">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput  type="password"  formControlName="Contraseña2" >
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        </li>
            
        <li>
            <button class="button" type="submit" [disabled]="formulario.invalid">Registrarse</button>
        </li>
    </ul>
</form>
