<ngb-carousel id="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <a [routerLink]="['/categorias/Gato']" routerLinkActive="router-link-active" >
            <img src="./../../../assets/espacio-gatuno.jpg" alt="Random first slide">
        </a>
      </div>
      <div class="carousel-caption">
        <h3>Espacio Gatuno</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <a [routerLink]="['/categorias/Perro']" routerLinkActive="router-link-active" >
            <img src="./../../../assets/espacio-perruno.jpg" alt="Random second slide">
        </a>
      </div>
      <div class="carousel-caption">
        <h3>Espacio Perruno</h3>
      </div>
    </ng-template>
  </ngb-carousel>



<div id="sellos_calidad">
    <ul>
        <li>
            <span class="material-icons-outlined"><mat-icon>groups</mat-icon></span>
            <h1>Profesionales a cargo</h1>
            <h4>El equipo de PetShop se asegura de entregar el mejor servicio para ustedes.</h4>
        </li>
        <li>
            <span class="material-icons-outlined"><mat-icon>verified</mat-icon></span>
            <h1>Productos de calidad</h1>
            <h4>Tenemos los mejores productos que se pueden encontrar a nivel mundial. Con el compromiso de entregar solo lo mejor.</h4>
        </li>
        <li>
            <span class="material-icons-outlined"><mat-icon>local_shipping</mat-icon></span>
            <h1>Envíos a todo Chile</h1>
            <h4>Realizamos despachos a todo Chile con ExpressChile o KenStar. Y contamos con despacho propio dentro de la V región.</h4>
        </li>
    </ul>
</div>

<div>
    
</div>
