#sellos_calidad ul{
    list-style-type: none;
    display: inline-flex;
}

#sellos_calidad ul li{
    margin: 1em;
    width: 33.3%;
}

.picsum-img-wrapper{
    text-align: center;
}
h3{
    background-color:  rgba(0, 0, 0, 0.281);
    color:white;
    font: oblique 25px cursive;
    font-weight: bolder;
    
}